html
  height: 100%
  padding: 0px
  margin: 0px

body
  font: 85% Georgia, Helvetica, Sans-Serif
  color: #000
  line-height: 1.6em
  margin: 0px
  padding: 0px 
  height: 100%
  

a
  text-decoration: none
  color: #000
  background: inherit
  &:hover
    color: #000
    background: inherit
  &:focus