#sun
	#logo
	#picture_box
		#pic_1{:class => 'pic'}
			%img{:src => '', :id => "pic_image_1"}
		#pic_2{:class => 'pic'}
			%img{:src => '', :id => "pic_image_2"}
		.clear
		#pic_3{:class => 'pic'}
			%img{:src => '', :id => "pic_image_3"}
		#pic_4{:class => 'pic'}
			%img{:src => '', :id => "pic_image_4"}
		.clear
		#left_arrow
		#right_arrow
		#sheep
	#sound

